<abp-page [title]="'CoreService::MITCatalogs' | abpLocalization">
  <abp-page-toolbar-container class="col">
    <div class="text-lg-end pt-2">
      <button
        *abpPermission="'CoreService.MITCatalogs.Create'"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="create()"
      >
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ 'CoreService::NewMITCatalog' | abpLocalization }}
      </button>
    </div>
  </abp-page-toolbar-container>

  <abp-advanced-entity-filters localizationSourceName="CoreService" [list]="list">
    <abp-advanced-entity-filters-form>
      <form #filterForm (keyup.enter)="list.get()">
        <div class="row">
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="parentCatalogCodeFilter">
                {{ 'CoreService::ParentCatalogCode' | abpLocalization }}
              </label>

              <input
                id="parentCatalogCodeFilter"
                class="form-control"
                [(ngModel)]="filters.parentCatalogCode"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="codeFilter">
                {{ 'CoreService::Code' | abpLocalization }}
              </label>

              <input
                id="codeFilter"
                class="form-control"
                [(ngModel)]="filters.code"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="nameFilter">
                {{ 'CoreService::Name' | abpLocalization }}
              </label>

              <input
                id="nameFilter"
                class="form-control"
                [(ngModel)]="filters.name"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="displayNameFilter">
                {{ 'CoreService::DisplayName' | abpLocalization }}
              </label>

              <input
                id="displayNameFilter"
                class="form-control"
                [(ngModel)]="filters.displayName"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="linkedFeaturesFilter">
                {{ 'CoreService::LinkedFeatures' | abpLocalization }}
              </label>

              <input
                id="linkedFeaturesFilter"
                class="form-control"
                [(ngModel)]="filters.linkedFeatures"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="isFactoryFilter">
                {{ 'CoreService::IsFactory' | abpLocalization }}
              </label>

              <select
                name="isFactory"
                id="isFactoryFilter"
                class="form-select form-control"
                [(ngModel)]="filters.isFactory"
                [ngModelOptions]="{ standalone: true }"
                (change)="list.get()"
              >
                <option [ngValue]=""></option>
                <option [ngValue]="true">{{ 'AbpUi::Yes' | abpLocalization }}</option>
                <option [ngValue]="false">{{ 'AbpUi::No' | abpLocalization }}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="isActiveFilter">
                {{ 'CoreService::IsActive' | abpLocalization }}
              </label>

              <select
                name="isActive"
                id="isActiveFilter"
                class="form-select form-control"
                [(ngModel)]="filters.isActive"
                [ngModelOptions]="{ standalone: true }"
                (change)="list.get()"
              >
                <option [ngValue]=""></option>
                <option [ngValue]="true">{{ 'AbpUi::Yes' | abpLocalization }}</option>
                <option [ngValue]="false">{{ 'AbpUi::No' | abpLocalization }}</option>
              </select>
            </div>
          </div>

          <div class="col-12 col-sm-auto align-self-end mb-3">
            <div class="row">
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
                  <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                </button>
              </div>
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-primary" (click)="list.get()">
                  <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </abp-advanced-entity-filters-form>
  </abp-advanced-entity-filters>

  <div class="card">
    <div class="card-body">
      <ngx-datatable [rows]="data.items" [count]="data.totalCount" [list]="list" default>
        <ngx-datatable-column
          [name]="'AbpUi::Actions' | abpLocalization"
          [maxWidth]="150"
          [width]="150"
          [sortable]="false"
        >
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button
                class="btn btn-primary btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                ngbDropdownToggle
              >
                <i class="fa fa-cog me-1" aria-hidden="true"></i>
                {{ 'AbpUi::Actions' | abpLocalization }}
              </button>

              <div ngbDropdownMenu>
                <button
                  ngbDropdownItem
                  *abpPermission="'CoreService.MITCatalogs.Edit'"
                  (click)="update(row)"
                >
                  {{ 'AbpUi::Edit' | abpLocalization }}
                </button>

                <button
                  ngbDropdownItem
                  *abpPermission="'CoreService.MITCatalogs.Delete'"
                  (click)="delete(row)"
                >
                  {{ 'AbpUi::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'CoreService::ParentCatalogCode' | abpLocalization }}"
          prop="parentCatalogCode"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.parentCatalogCode }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ 'CoreService::Code' | abpLocalization }}" prop="code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.code }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ 'CoreService::Name' | abpLocalization }}" prop="name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'CoreService::DisplayName' | abpLocalization }}"
          prop="displayName"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.displayName }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'CoreService::LinkedFeatures' | abpLocalization }}"
          prop="linkedFeatures"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.linkedFeatures }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'CoreService::IsFactory' | abpLocalization }}"
          prop="isFactory"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-template [ngIf]="row.isFactory" [ngIfThen]="yes" [ngIfElse]="no"></ng-template>

            <ng-template #yes>
              <div class="text-success">
                <span [title]="'AbpUi::Yes' | abpLocalization">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>

            <ng-template #no>
              <div class="text-danger">
                <span [title]="'AbpUi::No' | abpLocalization">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'CoreService::IsActive' | abpLocalization }}"
          prop="isActive"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-template [ngIf]="row.isActive" [ngIfThen]="yes" [ngIfElse]="no"></ng-template>

            <ng-template #yes>
              <div class="text-success">
                <span [title]="'AbpUi::Yes' | abpLocalization">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>

            <ng-template #no>
              <div class="text-danger">
                <span [title]="'AbpUi::No' | abpLocalization">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>

<abp-modal [busy]="isModalBusy" [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>
      {{ (selected ? 'AbpUi::Edit' : 'CoreService::NewMITCatalog') | abpLocalization }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" id="mitcatalog" (ngSubmit)="submitForm()" validateOnSubmit>
      <div class="mt-2 fade-in-top">
        <div class="mb-3">
          <label class="form-label" for="mitcatalog-parent-catalog-code">
            {{ 'CoreService::ParentCatalogCode' | abpLocalization }}
          </label>

          <input
            id="mitcatalog-parent-catalog-code"
            formControlName="parentCatalogCode"
            class="form-control"
            maxlength="20"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="mitcatalog-code">
            {{ 'CoreService::Code' | abpLocalization }} *
          </label>

          <input
            id="mitcatalog-code"
            formControlName="code"
            class="form-control"
            maxlength="20"
            minlength="3"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="mitcatalog-name">
            {{ 'CoreService::Name' | abpLocalization }} *
          </label>

          <input
            id="mitcatalog-name"
            formControlName="name"
            class="form-control"
            maxlength="100"
            minlength="3"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="mitcatalog-display-name">
            {{ 'CoreService::DisplayName' | abpLocalization }}
          </label>

          <input id="mitcatalog-display-name" formControlName="displayName" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="mitcatalog-linked-features">
            {{ 'CoreService::LinkedFeatures' | abpLocalization }}
          </label>

          <input
            id="mitcatalog-linked-features"
            formControlName="linkedFeatures"
            class="form-control"
            maxlength="250"
          />
        </div>
        <div class="form-check mb-3">
          <input
            type="checkbox"
            id="mitcatalog-is-factory"
            formControlName="isFactory"
            class="form-check-input"
          />

          <label for="mitcatalog-is-factory" class="form-check-label">
            {{ 'CoreService::IsFactory' | abpLocalization }}
          </label>
        </div>
        <div class="form-check mb-3">
          <input
            type="checkbox"
            id="mitcatalog-is-active"
            formControlName="isActive"
            class="form-check-input"
          />

          <label for="mitcatalog-is-active" class="form-check-label">
            {{ 'CoreService::IsActive' | abpLocalization }}
          </label>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>

    <abp-button iconClass="fa fa-check" buttonType="submit" formName="mitcatalog">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
  </ng-template>
</abp-modal>
