<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/7f7226f4-0fd2-47af-b9a2-ccbba88d7c3d/v3/index.json" />
  </packageSources>
</configuration>