<abp-page [title]="'ProductService::Products' | abpLocalization">
  <abp-page-toolbar-container class="col">
    <div class="text-lg-end pt-2">
      <button
        *abpPermission="'ProductService.Products.Create'"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="create()"
      >
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ 'ProductService::NewProduct' | abpLocalization }}
      </button>
    </div>
  </abp-page-toolbar-container>
  <p>
    <a
      href="javascript:;"
      (click)="isFiltersHidden = !isFiltersHidden"
      [attr.aria-expanded]="!isFiltersHidden"
      aria-controls="advanced-content-filters"
    >
      {{ 'ProductService::SeeAdvancedFilters' | abpLocalization }}
      <i [ngbCollapse]="!isFiltersHidden" class="fa fa-angle-down ms-1" aria-hidden="true"></i>
      <i [ngbCollapse]="isFiltersHidden" class="fa fa-angle-up ms-1" aria-hidden="true"></i>
    </a>
  </p>

  <div id="advanced-content-filters" [ngbCollapse]="isFiltersHidden">
    <div class="card mb-4">
      <div class="card-body">
        <form #filterForm (keyup.enter)="list.get()">
          <div class="row">
            <div class="col-12 col-sm-auto">
              <div class="form-group">
                <label for="nameFilter">
                  {{ 'ProductService::Name' | abpLocalization }}
                </label>

                <input
                  id="nameFilter"
                  class="form-control"
                  [(ngModel)]="filters.name"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
            <div class="col-12 col-sm-auto">
              <div class="form-group">
                <label for="minPrice">
                  {{ 'ProductService::MinPrice' | abpLocalization }}
                </label>

                <input
                  id="minPrice"
                  type="number"
                  class="form-control"
                  [(ngModel)]="filters.priceMin"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="form-group">
                <label for="maxPrice">
                  {{ 'ProductService::MaxPrice' | abpLocalization }}
                </label>

                <input
                  id="maxPrice"
                  type="number"
                  class="form-control"
                  [(ngModel)]="filters.priceMax"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>

            <div class="col-12 col-sm-auto align-self-end mb-3">
              <div class="row">
                <div class="col-6 col-sm-auto">
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-block"
                    (click)="clearFilters()"
                  >
                    <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                  </button>
                </div>
                <div class="col-6 col-sm-auto">
                  <button type="button" class="btn btn-primary btn-block" (click)="list.get()">
                    <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="data-tables-filter">
        <div class="input-group">
          <input
            type="search"
            class="form-control"
            [placeholder]="'AbpUi::PagerSearch' | abpLocalization"
            [(ngModel)]="list.filter"
          />
          <div class="input-group-append">
            <button
              [title]="'AbpUi::Search' | abpLocalization"
              (click)="list.get()"
              class="btn btn-sm btn-primary"
            >
              <i class="fas fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <ngx-datatable [rows]="data.items" [count]="data.totalCount" [list]="list" default>
        <ngx-datatable-column
          [name]="'AbpUi::Actions' | abpLocalization"
          [maxWidth]="150"
          [width]="150"
          [sortable]="false"
        >
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button
                class="btn btn-primary btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                ngbDropdownToggle
              >
                <i class="fa fa-cog me-1" aria-hidden="true"></i>
                {{ 'AbpUi::Actions' | abpLocalization }}
              </button>

              <div ngbDropdownMenu>
                <button
                  ngbDropdownItem
                  *abpPermission="'ProductService.Products.Edit'"
                  (click)="update(row)"
                >
                  {{ 'AbpUi::Edit' | abpLocalization }}
                </button>

                <button
                  ngbDropdownItem
                  *abpPermission="'ProductService.Products.Delete'"
                  (click)="delete(row)"
                >
                  {{ 'AbpUi::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ 'ProductService::Name' | abpLocalization }}" prop="name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ 'ProductService::Price' | abpLocalization }}" prop="price">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.price }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>
<abp-modal [busy]="isModalBusy" [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>
      {{ (selected ? 'AbpUi::Edit' : 'ProductService::NewProduct') | abpLocalization }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="submitForm()" validateOnSubmit>
      <div class="mt-2 fade-in-top">
        <div class="form-group">
          <label for="product-name"> {{ 'ProductService::Name' | abpLocalization }} * </label>

          <input
            id="product-name"
            formControlName="name"
            class="form-control"
            maxlength="64"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="product-price"> {{ 'ProductService::Price' | abpLocalization }} * </label>

          <input type="number" id="product-price" formControlName="price" class="form-control" />
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>

    <abp-button iconClass="fa fa-check" (click)="submitForm()" [disabled]="form?.invalid">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
  </ng-template>
</abp-modal>
